@import colors
@import prefixes
@import 'components/triangle'
@import fitter

#article .ig
  @import basics

#article
  h2
    float left
    width 500px
    margin-left (150px - 33.5px)
    text-indent -33.5px
    padding-left (@text-indent * -1)
  .infobox-container
    float left
    position relative
    width 100%
  .infobox
    position absolute
    top 0px
    right 30px
    width 200px
    float left
    background lighten(desaturate(ColorBlue, 90%), 99%)
    border 1px solid ColorBlue
    padding 15px 24px
    border-radius 4px
    margin-bottom 15px
    h3
    p
      color darken(ColorBlue, 70%)
    h3
      margin-top 0px
      margin-bottom 0.7em
      font-size 20px
      font-weight 500
    p
      line-height 1.7em
  img.big
    margin-top 20px
    margin-bottom 15px + @margin-top
    &.infografika
      margin-left 250px - 35px
      margin-top 0px
  iframe[width="100%"]
    width 1000px !important
    max-width none
    margin-top 20px
    margin-bottom 15px + @margin-top
  iframe.prehravac
    width 220px
    height 160px
    margin-right 30px
    float right
